# .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.vsidx

# Node / React
node_modules/
dist/
build/
.vite/

# Env files
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db